[submodule "binaries"]
	path = binaries
	url = https://github.com/NetchX/data
[submodule "modes"]
	path = modes
	url = https://github.com/NetchX/NetchMode
[submodule "translations"]
	path = translations
	url = https://github.com/NetchX/NetchTranslation
